xml/visitas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="visitas">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="visita" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="fecha" type="xs:date"/>
              <xs:element name="hora">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:pattern value="([01][0-9]|2[0-3]):[0-5][0-9]"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="pagina">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="inicio"/>
                    <xs:enumeration value="catalogo"/>
                    <xs:enumeration value="contacto"/>
                    <xs:enumeration value="acerca-de"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="navegador">
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:enumeration value="chrome"/>
                    <xs:enumeration value="firefox"/>
                    <xs:enumeration value="edge"/>
                    <xs:enumeration value="safari"/>
                    <xs:enumeration value="opera"/>
                    <xs:enumeration value="brave"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element name="duracion">
                <xs:simpleType>
                  <xs:restriction base="xs:integer">
                    <xs:minInclusive value="1"/>
                    <xs:maxInclusive value="3600"/>
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
